
<div class="housebody">
<h1>Listing houses</h1>

<section>
 

  <div>
    <% @houses.each do |house| %>
      
        <%= link_to 'Show', house %> | 
        <%= link_to 'Edit', edit_house_path(house), :rel => 'facebox' %> |
        <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %>
     
    <% end %>
  </div>
</section>

<br>

<%= link_to 'New House', new_house_path, :rel => 'facebox' %>
</div>