<p id="notice"><%= notice %></p>

<h2>Chores:</h2>
<h3><%= @house.chores.size %></h3>
<% if @house.chores.size > 0 %>
  <% for chore in @house.chores %>
    <h3><%= chore.title %></h3>
  <% end %>
<% end %>


<%= link_to 'New Chore', new_chore_path(@house), :rel => 'facebox', :class => 'button' %> 
<%#= link_to '<button type="button">Edit</button>'.html_safe, edit_house_path(@house), :rel => 'facebox' %> 

