// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.housebody {
	margin: 2em;
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 1em;
	font-size: 130%;
}

