body{
	background: url(dc_photo.jpg);
	background-size: cover;
	color: white;
}
.hm-title{
	font-size: 8em;
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}
.hm-text{
	text-align: left;
	// margin-left: 18em;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	text-align: center;
}